###############################################
# Sample of how a .envrc file may look like
# to load required environment variables with
# [direnv](https://direnv.net/)
# (should work on any unix-like OS)
###############################################

###########   GMailer

GMAILER_TO=collect-here@gmail.com
GMAILER_SENDER=send-from-here@gmail.com
GMAILER_PASS=1234567
GMAILER_PORT=3020
GMAILER_WHITELIST=https://mydomain.com,http://[::]:3000,http://localhost:3000

export GMAILER_TO
export GMAILER_SENDER
export GMAILER_PASS
export GMAILER_PORT
export GMAILER_WHITELIST
